<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Resturant</title>
    </head>
    <body>
        <div class="container-fluid px-1 py-5 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                    <link rel="stylesheet" href="static/style.css">
                    <h3 class="heading-2">Restaurant Rating</h3>
                    <!-- <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for you.</p> -->
                    <div class="card">
                        <!-- <h5 class="text-center mb-4">Powering world-class companies</h5> -->
                        <form  method="post" action="{{ url_for('predict')}}">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Order Online<span class="text-danger"> *</span></label> <input type="number" name="Order Online"  placeholder="Enter Number 0-No and 1-Yes" min="0" max="1" > </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Book Table<span class="text-danger"> *</span></label> <input type="number" name="Book Table"  placeholder="Enter Number 0-No and 1-Yes" min="0" max="1"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Votes<span class="text-danger"> *</span></label> <input type="number" name="Votes" placeholder="Enter Number"  > </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Location<span class="text-danger"> *</span></label> <input type="number" name="Location"  placeholder="Enter Number Between 1 to 85" min="1" max="85"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Restaurant Type<span class="text-danger"> *</span></label> <input type="number" name="Restaurant Type"  placeholder="Enter Number Between 1 to 72" min="1" max="72" > </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Cuisines<span class="text-danger"> *</span></label> <input type="number" name="Cuisiens"  placeholder="Enter Number" > </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Cost<span class="text-danger"> *</span></label> <input type="number" name="Cost"  placeholder="Enter Number" > </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Menu Item<span class="text-danger"> *</span></label> <input type="number" name="Menu Items" placeholder="Enter Number" > </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="form-group col-sm-6 flex-column d-flex"> {{ prediction_text }} </div>
                                <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Predict It !!!</button> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>